<div class="component-content">
  <div class="column first-column">
    <div class="component-section">
      <app-example-header [title]="'Buttons'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-buttons></app-buttons>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Toolbar'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-toolbar></app-toolbar>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Sidenav'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-sidenav [example]="fruits"></app-sidenav>
      </div>
    </div>
    <!-- <div class="component-section">
      <app-example-header [title]="'Short App Bar'" [link]="''"></app-example-header>
      <div class="component-wrapper">
      </div>
    </div> -->
    <!-- <div class="component-section">
      <app-example-header [title]="'Menu'" [link]="''"></app-example-header>
      <div class="component-wrapper">
      </div>
    </div> -->
    <div class="component-section">
      <app-example-header [title]="'Progress Bar'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-progress-bar></app-progress-bar>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Progress Spinner'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-progress-spinner></app-progress-spinner>
      </div>
    </div>
    <div class="component-section two-column">
      <div class="narrow">
        <app-example-header [title]="'Switch'" [link]="''"></app-example-header>
        <div class="component-wrapper">
          <app-switch></app-switch>
        </div>
      </div>
      <div class="narrow">
        <app-example-header [title]="'Checkbox'" [link]="''"></app-example-header>
        <div class="component-wrapper">
          <app-checkbox></app-checkbox>
        </div>
      </div>
    </div>
    <div class="component-section two-column">
      <div class="narrow">
        <app-example-header [title]="'Radio Button'" [link]="''"></app-example-header>
        <div class="component-wrapper">
          <app-radio-button></app-radio-button>
        </div>
      </div>
      <div class="narrow">
        <app-example-header [title]="'Icon Button'" [link]="''"></app-example-header>
        <div class="component-wrapper">
          <app-icon-button></app-icon-button>
        </div>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Chips'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-chips></app-chips>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'List'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-list [example]="fruits"></app-list>
      </div>
    </div>
    <!-- <div class="component-section">
      <app-example-header [title]="'Data Table'" [link]="''"></app-example-header>
      <div class="component-wrapper">
      </div>
    </div> -->
  </div>
  <div class="column second-column">
    <div class="component-section">
      <app-example-header [title]="'Fab'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-fab></app-fab>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Card'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-card></app-card>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Input'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-input></app-input>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Select'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-select [example]="fruits"></app-select>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Tabs'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-tabs></app-tabs>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Slider'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-slider></app-slider>
      </div>
    </div>
    <div class="component-section">
      <app-example-header [title]="'Snackbar'" [link]="''"></app-example-header>
      <div class="component-wrapper">
        <app-snackbar></app-snackbar>
      </div>
    </div>
    <!-- <div class="component-section">
      <app-example-header [title]="'Dialog'" [link]="''"></app-example-header>
      <div class="component-wrapper">
      </div>
    </div> -->
    <!-- <div class="component-section">
      <app-example-header [title]="'Image List'" [link]="''"></app-example-header>
      <div class="component-wrapper">
      </div>
    </div> -->
  </div>
</div>