<div class="mat-theme-header">
  <div>
    <h1>Build an Angular Material Theme</h1>
    <h2 href="https://twitter.com/twerske">@twerske</h2>
  </div>
  <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme" class="theme-button dark-mode">
    <mat-icon>
      brightness_6
    </mat-icon>
  </button>
  <!-- <a title="Download JSON" [href]="downloadJsonHref" download="download.json"><button mat-raised-button>Download</button></a> -->
  <!-- <button mat-raised-button (click)="generateDownloadJsonUri()">Download</button> -->
  <!-- <button mat-mini-fab (click)="setTheme('deeppurple-amber')" matTooltip="Deep purple amber theme" class="theme-button deeppurple-amber">
    <mat-icon>
      palette
    </mat-icon>
  </button>
  <button mat-mini-fab (click)="setTheme('indigo-pink')" matTooltip="Indigo pink theme" class="theme-button indigo-pink">
    <mat-icon>
      palette
    </mat-icon>
  </button>
  <button mat-mini-fab (click)="setTheme('pink-bluegrey')" matTooltip="Pink blue grey theme" class="theme-button pink-bluegrey">
    <mat-icon>
      palette
    </mat-icon>
  </button>
  <button mat-mini-fab (click)="setTheme('purple-green')" matTooltip="Purple green theme" class="theme-button purple-green">
    <mat-icon>
      palette
    </mat-icon>
  </button> -->
</div>
<mat-tab-group mat-stretch-tabs>
  <!-- <mat-tab label="Instructions" class="drawer-content">
    <div class="drawer-content">
      <h4 class="section-header">HOW TO BUILD A THEME</h4>
      <p>Build your own custom Material theme by remixing and styling these themeable components.</p>
      <p>Modify the variables in the variables tabs, then use download your theme file in the Sass tab.</p>
      <p>Use your custom theme by running 'ng add @angular/material' and select the custom theme.</p>
      <p>Replace your app's styles.scss file with the downloaded Sass file to see your new custom theme!</p>
    </div>
  </mat-tab> -->
  <mat-tab label="Color">
    <div class="drawer-content">
      <app-color [isDark]="isDark" [bodyStyles]="bodyStyles" [theme]="theme"></app-color>
    </div>
  </mat-tab>
  <mat-tab label="Typography">
    <div class="drawer-content">
      <app-typography [bodyStyles]="bodyStyles" [theme]="theme"></app-typography>  
    </div>
  </mat-tab>
  <mat-tab label="Density">
    <div class="drawer-content">
      <app-density [bodyStyles]="bodyStyles" [theme]="theme"></app-density>
    </div>
  </mat-tab>
  <mat-tab label="Generated Theme" class="drawer-content">
    <div class="drawer-content">
      <app-styling [theme]="theme"></app-styling>
    </div>
  </mat-tab>
</mat-tab-group>