<app-example-header [title]="'Typography Scale'"><mat-icon>text_fields</mat-icon></app-example-header>
  <div>
    <div class='theme-line'>
      <p class="code">$mat-font-family: <span>"{{ bodyStyles.getPropertyValue('--font-family') }}"</span></p>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-display-4:</p>
      <h1 class="mat-display-4 typography">H1</h1>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-display-3:</p>
      <h1 class="mat-display-3 typography">H1</h1>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-display-2:</p>
      <h1 class="mat-display-2 typography">H1</h1>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-display-1:</p>
      <h1 class="mat-display-1 typography">H1</h1>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-headline:</p>
      <h1 class="typography">H1</h1>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-title:</p>
      <h2 class="typography">H2</h2>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-subheading-2:</p>
      <h3 class="typography">H3</h3>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-subheading-1:</p>
      <h4 class="typography">H4</h4>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-body-2:</p>
      <body class="typography">Body 2</body>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-body-1:</p>
      <h6 class="typography">Body 1</h6>
    </div>
    <div class='theme-line'>
      <p class="code">$mat-caption:</p>
      <caption class="typography">caption</caption>
    </div>