<app-example-header [title]="'Typography Scale'"><mat-icon>text_fields</mat-icon></app-example-header>
  <div>
    <div class='theme-line'>
      <p class="code">$mat-font-family:</p>
      <h2 class="typography">"{{ this.theme.typography.h1.family }}"</h2>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.h1" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-display-4:</p>
        <h1 class="mat-display-4 typography">H1</h1>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.h2" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-display-3:</p>
        <h1 class="mat-display-3 typography">H1</h1>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.h3" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-display-2:</p>
        <h1 class="mat-display-2 typography">H1</h1>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.h4" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-display-1:</p>
        <h1 class="mat-display-1 typography">H1</h1>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.h5" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-headline:</p>
        <h1 class="typography">H1</h1>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.h6" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-title:</p>
        <h2 class="typography">H2</h2>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.subtitle2" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-subheading-2:</p>
        <h3 class="typography">H3</h3>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.subtitle1" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-subheading-1:</p>
        <h4 class="typography">H4</h4>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.body2" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-body-2:</p>
        <body class="mat-body-2 typography">Body 2</body>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.body1" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-body-1:</p>
        <body class="mat-body-1 typography">Body 1</body>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.caption" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-caption:</p>
        <caption class="typography">caption</caption>
      </div>
    </div>
    <div class="type-picker" [(fontPicker)]="this.theme.typography.button" (fontPickerChange)="this.updateTypographyTheme()">
      <div class='theme-line'>
        <p class="code">$mat-button:</p>
        <button mat-stroked-button class="typography">BUTTON</button>
      </div>
    </div>