@import 'src/styles.scss';
@import 'src/utils.scss';

.mat-theme-creator {
    height: 100vh;
    overflow: none;
}

.mat-theme-drawer {
    width: clamp(400px, 30%, 500px);
    
    .mat-theme-header {
        @include space-and-center($width: 0%);
        // display: flex;
        // justify-content: space-between;
        padding: 24px;

        h1 {
            margin: 0;
        }
        
        .theme-button {
            margin: 0 5px;

            // &.dark-mode {
            //     background: linear-gradient(to bottom right, #ffffff 0%, #463c36be 100%);
            // }
            
            // &.deeppurple-amber {
            //     background: linear-gradient(to bottom right, #e09ae0 0%, #dd9565 100%);
            // }

            // &.indigo-pink {
            //     background: linear-gradient(to bottom right, #b57bdf 0%, #ffc0cb 100%);
            // }

            // &.pink-bluegrey {
            //     background: linear-gradient(to bottom right, #ffc0cb 0%, #a0adca 100%);
            // }

            // &.purple-green {
            //     background: linear-gradient(to bottom right, #c782c7e5 0%, #96dd96c4 100%);
            // }
        }
    }

    .drawer-content {
        padding: 24px;

        .content-divider {
            margin: 20px 0;
            border-top-width: 3px;
        }

        .theme-line {
            @include space-and-center;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            font-family: Roboto, sans-serif;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height: 1.25rem;
            // font-size: 0.75rem;
            // font-weight: 400;
            letter-spacing: 0.03333em;
            text-decoration: inherit;
            text-transform: inherit;
            margin: 8px 0;

            .code {
                background: none;
                font-family: Roboto, mono;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                // font-size: 0.75rem;
                font-weight: 400;
                
                span {
                    font-weight: 500;
                    margin-left: 0.25rem;
                }
            }

            .typography {
                margin: 0;
            }
        }
    }
}

.light {
    .color-swatch {
        min-width: 20px;
        height: 20px;
        border: 1px solid #bdbdbd;
        border-radius: 50%;
        margin: 0;
    } 
}

.dark {
    .color-swatch {
        min-width: 20px;
        height: 20px;
        border: 1px solid #585858;
        border-radius: 50%;
        margin: 0;
    } 
}

.component-content {
    padding: 24px;
    display: flex;
    justify-content: space-evenly;

    .column {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .component-section {
        margin: 16px 20px 40px 20px;
        // outline: #0009 solid 1px;

        &.two-column {
            @include space-and-center;
        }

        .example-spacer {
            flex: 1 1 auto;
        }

        .component-wrapper {
            margin: 16px 0;
            
            .sidenav-example {
                height: 300px;
                width: 100%;
                background-color: #0009;
            }

            .slider-example {
                width: 100%;
            }
        }
    }
}
