<mat-drawer-container class="material-theme-creator">
  <mat-drawer class="material-theme-drawer" mode="side" opened>
    <div class="material-theme-header">
      <h1>Build an Angular Material Theme</h1>
      <h2>links and/or name</h2>
    </div>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Instructions" class="drawer-content">
        <div class="drawer-content">
          <h4 class="section-header">HOW TO BUILD A THEME</h4>
          <p>Build your own custom Material theme by remixing and styling these themeable components.</p>
          <p>Modify the variables in the Theme Variables tab, then use 'ng add @angular/material' and apply to your app's styles.scss file</p>
        </div>
      </mat-tab>
      <mat-tab label="Theme Variables">
        <div class="drawer-content">
          <a class="section-header">
            <mat-icon>colorize</mat-icon>
            COLOR SCHEME
            <mat-icon>open_in_new</mat-icon>
          </a>
          <a class="section-header">
            <mat-icon>border_style</mat-icon>
            SHAPE SYSTEM
            <mat-icon>open_in_new</mat-icon>
          </a>
          <a class="section-header">
            <mat-icon>text_fields</mat-icon>
            header SCALE
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content>
    <div class="component-content">
      <div class="component-section">
        <a class="section-header">
          BUTTONS
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <button mat-raised-button color="primary">BUTTON</button>
          <button mat-button color="accent">BUTTON</button>
          <button mat-stroked-button color="warn">BUTTON</button>
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          TOP APP BAR
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          DRAWER
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          SHORT APP BAR
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          MENU
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          PROGRESS BAR
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          PROGRESS SPINNER
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
      <div class="component-section narrow">
        <a class="section-header">
          SWITCH
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-slide-toggle color="accent" checked=true></mat-slide-toggle>
          <mat-slide-toggle color="accent"></mat-slide-toggle>
        </div>
      </div>
      <div class="component-section narrow">
        <a class="section-header">
          CHECKBOX
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-checkbox color="accent"></mat-checkbox>
          <mat-checkbox color="accent" indeterminate=true></mat-checkbox>
          <mat-checkbox color="accent" checked=true></mat-checkbox>
        </div>
      </div>
      <div class="component-section narrow">
        <a class="section-header">
          RADIO BUTTON
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-radio-button></mat-radio-button>
          <mat-radio-button></mat-radio-button>
          <mat-radio-button checked="true"></mat-radio-button>
        </div>
      </div>
      <div class="component-section narrow">
        <a class="section-header">
          ICON BUTTON
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <button mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          CHIPS
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-chip-list aria-label="Pie selection">
            <mat-chip>Cherry</mat-chip>
            <mat-chip>Apple</mat-chip>
            <mat-chip>Blueberry</mat-chip>
            <mat-chip color="primary" selected>Rhubarb</mat-chip>
            <mat-chip color="accent" selected>Marionberry</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          SELECT
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>fruits</mat-label>
            <mat-select [formControl]="fruits" multiple>
              <mat-select-trigger>
                {{fruits.value ? fruits.value[0] : ''}}
                <span *ngIf="fruits.value?.length > 1" class="example-additional-selection">
                  (+{{fruits.value.length - 1}} {{fruits.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          LIST
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          DATA TABLE
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          FAB
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          INPUT//TEXT FEILD
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          TABS
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          SLIDER
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          SNACKBAR
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          DIALOG
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
      <div class="component-section">
        <a class="section-header">
          IMAGE LIST
          <mat-icon>open_in_new</mat-icon>
        </a>
        <div class="component-wrapper">
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>