<div class='primary'>
  <app-example-header [title]="'Primary'"></app-example-header>
  <div class='theme-line'>
    <!-- <p class="code">$mat-palette: <span>$mat-{{ bodyStyles.getPropertyValue('--primary-color') }}</span></p> -->
    <p class="code">$mat-palette: <span><input matInput [(ngModel)]="theme.colorsLight.primary" type="text" placeholder="$mat-indigo" autocomplete="off"></span></p>
    <figure class="color-swatch primary-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-palette: <span>$mat-{{ bodyStyles.getPropertyValue('--primary-color') }}</span></p>
    <figure class="color-swatch primary-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-default: <span>{{ bodyStyles.getPropertyValue('--primary-default') }}</span></p>
    <figure class="color-swatch primary-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-lighter: <span>{{ bodyStyles.getPropertyValue('--primary-lighter') }}</span></p>
    <figure class="color-swatch primary-lighter"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-darker: <span>{{ bodyStyles.getPropertyValue('--primary-darker') }}</span></p>
    <figure class="color-swatch primary-darker"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-text: <span>{{ bodyStyles.getPropertyValue('--primary-text') }}</span></p>
    <figure class="color-swatch primary-text"></figure>
  </div>
  <mat-divider></mat-divider>
  <div class='theme-line'>
    <p class="code">$mat-default-contrast: <span>{{ bodyStyles.getPropertyValue('--primary-default-contrast') }}</span></p>
    <figure class="color-swatch primary-default-contrast"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-lighter-contrast: <span>{{ bodyStyles.getPropertyValue('--primary-lighter-contrast') }}</span></p>
    <figure class="color-swatch primary-lighter-contrast"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-darker-contrast: <span>{{ bodyStyles.getPropertyValue('--primary-darker-contrast') }}</span></p>
    <figure class="color-swatch primary-darker-contrast"></figure>
  </div>
</div>
<mat-divider class="content-divider"></mat-divider>
<div class='accent'>
  <app-example-header [title]="'Accent'"></app-example-header>
  <div class='theme-line'>
    <p class="code">$mat-palette: <span>$mat-{{ bodyStyles.getPropertyValue('--accent-color') }}</span></p>
    <figure class="color-swatch accent-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-default: <span>{{ bodyStyles.getPropertyValue('--accent-default') }}</span></p>
    <figure class="color-swatch accent-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-lighter: <span>{{ bodyStyles.getPropertyValue('--accent-lighter') }}</span></p>
    <figure class="color-swatch accent-lighter"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-darker: <span>{{ bodyStyles.getPropertyValue('--accent-darker') }}</span></p>
    <figure class="color-swatch accent-darker"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-text: <span>{{ bodyStyles.getPropertyValue('--accent-text') }}</span></p>
    <figure class="color-swatch accent-text"></figure>
  </div>
  <mat-divider></mat-divider>
  <div class='theme-line'>
    <p class="code">$mat-default-contrast: <span>{{ bodyStyles.getPropertyValue('--accent-default-contrast') }}</span></p>
    <figure class="color-swatch accent-default-contrast"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-lighter-contrast: <span>{{ bodyStyles.getPropertyValue('--accent-lighter-contrast') }}</span></p>
    <figure class="color-swatch accent-lighter-contrast"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-darker-contrast: <span>{{ bodyStyles.getPropertyValue('--accent-darker-contrast') }}</span></p>
    <figure class="color-swatch accent-darker-contrast"></figure>
  </div>
</div>
<mat-divider class="content-divider"></mat-divider>
<div class='warn'>
  <app-example-header [title]="'Warn'"></app-example-header>
  <div class='theme-line'>
    <p class="code">$mat-palette: <span>$mat-{{ bodyStyles.getPropertyValue('--warn-color') }}</span></p>
    <figure class="color-swatch warn-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-default: <span>{{ bodyStyles.getPropertyValue('--warn-default') }}</span></p>
    <figure class="color-swatch warn-default"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-lighter: <span>{{ bodyStyles.getPropertyValue('--warn-lighter') }}</span></p>
    <figure class="color-swatch warn-lighter"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-darker: <span>{{ bodyStyles.getPropertyValue('--warn-darker') }}</span></p>
    <figure class="color-swatch warn-darker"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-text: <span>{{ bodyStyles.getPropertyValue('--warn-text') }}</span></p>
    <figure class="color-swatch warn-text"></figure>
  </div>
  <mat-divider></mat-divider>
  <div class='theme-line'>
    <p class="code">$mat-default-contrast: <span>{{ bodyStyles.getPropertyValue('--warn-default-contrast') }}</span></p>
    <figure class="color-swatch warn-default-contrast"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-lighter-contrast: <span>{{ bodyStyles.getPropertyValue('--warn-lighter-contrast') }}</span></p>
    <figure class="color-swatch warn-lighter-contrast"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-darker-contrast: <span>{{ bodyStyles.getPropertyValue('--warn-darker-contrast') }}</span></p>
    <figure class="color-swatch warn-darker-contrast"></figure>
  </div>
</div>
<mat-divider class="content-divider"></mat-divider>
<div class='foreground'>
  <app-example-header [title]="'Foreground'"></app-example-header>
  <div class='theme-line'>
    <p class="code">$mat-base: <span>{{ bodyStyles.getPropertyValue('--foreground-base') }}</span></p>
    <figure class="color-swatch foreground-base"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-divider: <span>{{ bodyStyles.getPropertyValue('--foreground-divider') }}</span></p>
    <figure class="color-swatch foreground-divider"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-dividers: <span>{{ bodyStyles.getPropertyValue('--foreground-dividers') }}</span></p>
    <figure class="color-swatch foreground-dividers"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-disabled: <span>{{ bodyStyles.getPropertyValue('--foreground-disabled') }}</span></p>
    <figure class="color-swatch foreground-disabled"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-disabled-button: <span>{{ bodyStyles.getPropertyValue('--foreground-disabled-button') }}</span></p>
    <figure class="color-swatch foreground-disabled-button"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-disabled-text: <span>{{ bodyStyles.getPropertyValue('--foreground-disabled-text') }}</span></p>
    <figure class="color-swatch foreground-disabled-text"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-elevation: <span>{{ bodyStyles.getPropertyValue('--foreground-elevation') }}</span></p>
    <figure class="color-swatch foreground-elevation"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-hint-text: <span>{{ bodyStyles.getPropertyValue('--foreground-hint-text') }}</span></p>
    <figure class="color-swatch foreground-hint-text"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-secondary-text: <span>{{ bodyStyles.getPropertyValue('--foreground-secondary-text') }}</span></p>
    <figure class="color-swatch foreground-secondary-text"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-icon: <span>{{ bodyStyles.getPropertyValue('--foreground-icon') }}</span></p>
    <figure class="color-swatch foreground-icon"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-icons: <span>{{ bodyStyles.getPropertyValue('--foreground-icons') }}</span></p>
    <figure class="color-swatch foreground-icons"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-text: <span>{{ bodyStyles.getPropertyValue('--foreground-text') }}</span></p>
    <figure class="color-swatch foreground-text"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-slider-min: <span>{{ bodyStyles.getPropertyValue('--foreground-slider-min') }}</span></p>
    <figure class="color-swatch foreground-slider-min"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-slider-off: <span>{{ bodyStyles.getPropertyValue('--foreground-slider-off') }}</span></p>
    <figure class="color-swatch foreground-slider-off"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-slider-off-active: <span>{{ bodyStyles.getPropertyValue('--foreground-slider-off-active') }}</span></p>
    <figure class="color-swatch foreground-slider-off-active"></figure>
  </div>
</div>
<mat-divider class="content-divider"></mat-divider>
<div class='background'>
  <app-example-header [title]="'Background'"></app-example-header>
  <div class='theme-line'>
    <p class="code">$mat-status-bar: <span>{{ bodyStyles.getPropertyValue('--background-status-bar') }}</span></p>
    <figure class="color-swatch background-status-bar"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-app-bar: <span>{{ bodyStyles.getPropertyValue('--background-app-bar') }}</span></p>
    <figure class="color-swatch background-app-bar"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-background: <span>{{ bodyStyles.getPropertyValue('--background-background') }}</span></p>
    <figure class="color-swatch background-background"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-hover: <span>{{ bodyStyles.getPropertyValue('--background-hover') }}</span></p>
    <figure class="color-swatch background-hover"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-card: <span>{{ bodyStyles.getPropertyValue('--background-card') }}</span></p>
    <figure class="color-swatch background-card"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-dialog: <span>{{ bodyStyles.getPropertyValue('--background-dialog') }}</span></p>
    <figure class="color-swatch background-dialog"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-disabled-button: <span>{{ bodyStyles.getPropertyValue('--background-disabled-button') }}</span></p>
    <figure class="color-swatch background-disabled-button"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-raised-button: <span>{{ bodyStyles.getPropertyValue('--background-raised-button') }}</span></p>
    <figure class="color-swatch background-raised-button"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-focused-button: <span>{{ bodyStyles.getPropertyValue('--background-focused-button') }}</span></p>
    <figure class="color-swatch background-focused-button"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-selected-button: <span>{{ bodyStyles.getPropertyValue('--background-selected-button') }}</span></p>
    <figure class="color-swatch background-selected-button"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-selected-disabled-button: <span>{{ bodyStyles.getPropertyValue('--background-selected-disabled-button') }}</span></p>
    <figure class="color-swatch background-selected-disabled-button"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-disabled-button-toggle: <span>{{ bodyStyles.getPropertyValue('--background-disabled-button-toggle') }}</span></p>
    <figure class="color-swatch background-disabled-button-toggle"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-unselected-chip: <span>{{ bodyStyles.getPropertyValue('--background-unselected-chip') }}</span></p>
    <figure class="color-swatch background-unselected-chip"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-disabled-list-option: <span>{{ bodyStyles.getPropertyValue('--background-disabled-list-option') }}</span></p>
    <figure class="color-swatch background-disabled-list-option"></figure>
  </div>
  <div class='theme-line'>
    <p class="code">$mat-background-tooltip: <span>{{ bodyStyles.getPropertyValue('--background-tooltip') }}</span></p>
    <figure class="color-swatch background-tooltip"></figure>
  </div>
</div>