// Import and define new fonts
@use '~@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

$mat-font-family: 'Lato, "Helvetica Neue", sans-serif';
$mat-font-family-roboto: 'Roboto, sans-serif';
$mat-font-family-lobster: 'Lobster Two', cursive;

// Define a custion Typography configurations
$mat-typography: mat.define-typography-config(
  $font-family: $mat-font-family,
  $display-4:     mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat.define-typography-level(34px, 40px, 400),
  $headline:      mat.define-typography-level(24px, 32px, 400),
  $title:         mat.define-typography-level(20px, 32px, 500),
  $subheading-2:  mat.define-typography-level(16px, 28px, 400),
  $subheading-1:  mat.define-typography-level(15px, 24px, 400),
  $body-2:        mat.define-typography-level(14px, 24px, 500),
  $body-1:        mat.define-typography-level(14px, 20px, 400),
  $caption:       mat.define-typography-level(12px, 20px, 400),
  $button:        mat.define-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat.define-typography-level(inherit, 1.125, 400)
);

// Override individual fonts
// @include mat-typography-font-shorthand($font-size, $font-weight, $line-height, $font-family);
// @include mat.typography-level($config, $level);
// @include mat.typography-hierarchy($config, $selector: '.mat-typography')

// @include mat.all-component-typographies($custom-typography);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// @include mat.typography-hierarchy($custom-typography);

// Override typography for a specific Angular Material components.
// @include mat.checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
// @include mat.all-component-typographies($custom-typography);